.TaskForm {
    position: fixed;
    top: 50px;
    width: 70%;
    background-color: #fff;
    height: 452px;
    overflow-y: overlay;
    border-radius: 5px;
    border: 1px solid #777777;
    left: 50%;
    transform: translate(-50%,0px);
}
.TaskForm_form {
    direction: rtl;
    margin: 0 auto;
}
.TaskForm h3{
    color: #00B074;
    text-shadow: 1px 1px 2px black;
}
.TaskForm .form-control {
    padding: 0 .75rem;
}
.TaskForm_form .form-group {
    margin-bottom: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.TaskForm_form .col-form-label {
    padding: 0;
}
.TaskForm_form .row {
  margin: 0;
}
.TaskForm button.btn {
    color: #fff;
    background-color: #00B074;
    border-color: white;
    margin: 5px;
}
.TaskForm_form input,.TaskForm_form textarea  {
    width: 100%;
}
