

.Task_actions {
    display: flex;
    justify-content: space-around;
}
.Task_actions p {
  margin: 0;
}

.Task_actions button{
    border: none;
    padding: 5px;
    background-color: transparent;
    border-radius: 50px;
    outline: none;
}
.Task_actions i {
    border: 1px solid;
    color: #666666;
    padding: 5px;
    font-size: 12px;
    border-radius: 12px;
    cursor: pointer;
}
