.TasksList{
    padding: 60px 0px;
    margin: 20px auto;
    position: relative;
}
.TasksList .TaskList_delete{
    position: fixed;
    background: white;
    border: 1px solid black;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    background-color: #d4d4d4;
}
.TasksList_newTaskBtn {
    position: absolute;
    left: 0;
    top: 17px;
    background-color: #00B074;
    font-size: 20px;
    color: #fff;
    border: none;
    height: 35px;
    width: 135px;
}
.TasksList_cxNumbers{
    position: absolute;
    right: 0;
    top: 10px;
    margin: 0;
}
.TasksList_table {
    margin: 0 auto;
    width: 100%;
    direction: rtl;
    border-collapse: collapse;
    border: 2px solid #EFEFEF;
}
.TasksList_table thead {
    background-color: #EFEFEF;
}
.TasksList_table thead tr{
    height: 45px;
}
.TasksList_table .checkBox_tableCell{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 5px;
}
.TasksList_table .fa-sort {
    padding: 1px 3px;
    font-size: 13px;
}

.TasksList_table .fa-check {
    padding: 1px 3px;
    font-size: 13px;
    color: #00B074;;
}
.TasksList_table tbody tr {
    border-bottom: 1px solid #CECECE;
    height: 50px;
}
.TasksList_table tbody tr:hover {
    background-color: #EAF9F3;
    cursor: pointer;
}
.TasksList .table td, .table thead th {
    padding: 1px;
    vertical-align: middle;
    border-top: none;
}
.TasksList table tr input[type=checkbox] {
    margin: 0 5px;
}


/* * Media Query * */
@media only screen and (max-width: 808px) {
 .TasksList .table{
    font-size: .9em;
 }
}
@media only screen and (max-width: 658px) {
    .TasksList .table{
        font-size: .75em;
     }
     .TasksList_newTaskBtn {
        top: 15px;
        font-size: 1em;
    }
    .TasksList_cxNumbers {
        top: 20px;
        font-size: 1em;
    }
}
@media only screen and (max-width: 490px) {
    .TasksList .table {
        font-size: 0.65em;
    }
    .Task_actions i {
        font-size: 10px;
        padding: 3px;
    }
    .Task_actions button {
        padding: 2px;
    }
    .TasksList_cxNumbers {
        font-size: .9em;
    }
    .TasksList_newTaskBtn {
        top: 20px;
        font-size: 1em;
        height: 30px;
        width: 120px;
    }
  }
  @media only screen and (max-width: 360px) {
    .TasksList .table {
        font-size: 0.55em;
    }
    .Task_actions i {
        font-size: 8px;
        padding: 2px;
    }
    .Task_actions button {
        padding: 2px 1px;
    }
  }