.navbar {
    direction: rtl !important;
    box-shadow: 0 2px 2px #ECECEC;
    background-color: white;
}

.navbar .mr-auto, .mx-auto {
    margin-right: 0px;
    width: 85%;
}
.navbar .nav-link a {
    color: #707070 !important;
    font-weight: 500;
    font-size: 1em;
    text-decoration: none;
}
.navbar .nav-link  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.activeNavLink {
border-bottom: 4px solid #00b074;
color: #00b074 !important;
}

/* *Media Query* */
@media only screen and (max-width: 992px) {
    .navbar-nav {
        padding: 0;
    }
}
